<header class="sidebar">
	{{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
	
	<h1 class="title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
	
	<p>{{@blog.description}}</p>
	
	<ul class="sidebar-nav">
		<li class="sidebar-nav-item">
			<a href="/">Home</a>
		</li>
		<li class="sidebar-nav-item">
			<a href="{{@blog.url}}/about">About</a>
		</li>
	</ul>

	
	<footer class="sidebar-footer">
		Site powered by <a href="http://ghost.org" target="_blank">Ghost</a><br /><a href="https://github.com/collingsr/tower" target="_blank">Tower</a> theme by <a href="http://ruthcollings.ca" target="_blank">Ruth Collings</a><br /><br />
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
	</footer>
</header>